<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220557631176-hgqc7sa4fu2riubpef6uphsq1bqbob16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220557631176-hgqc7sa4fu2riubpef6uphsq1bqbob16</string>
	<key>API_KEY</key>
	<string>AIzaSyDGqg5YGYEqTIyodeU50e4gQtnopfqTwEA</string>
	<key>GCM_SENDER_ID</key>
	<string>220557631176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Toptal</string>
	<key>PROJECT_ID</key>
	<string>trips-41caf</string>
	<key>STORAGE_BUCKET</key>
	<string>trips-41caf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220557631176:ios:a006e7e13e14951d57cffd</string>
	<key>DATABASE_URL</key>
	<string>https://trips-41caf.firebaseio.com</string>
</dict>
</plist>